.add-to-cart-dropdown {
    position: absolute;
    top: 12%;
    right: 6%;
    z-index: 10;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    .location-label,
    .quantity-label {
      font-size: 0.875em;
      color: var(--text-color);
    }
  
    .location-input,
    .quantity-input {
      width: 90%;
      padding: 8px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  
    .btn-add {
      background-color: var(--primary-color);
      color: var(--background-color);
      padding: 8px 16px;
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: darken(#8f3019, 10%);
      }
    }
  }
  