@import '../../../styles/variables.scss';

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    margin-bottom: 8px;
    color: var(--primary-color);
  }

  input,
  textarea {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }

  .error-message {
    color: darkred;
    font-size: 0.875em;
    margin-top: 4px;
  }
}

.btn-save,
.btn-cancel {
  margin-top: 6px;
  margin-right: 6px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: lighten($primary-color, 5%);
  }

  &.btn-cancel {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 5%);
    }
  }

  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 4px;
  }
}
