@import '../../styles/variables.scss';


.cart-page {
  padding: var(--padding);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.page-headline {
  font-size: 2em;
  margin-bottom: var(--padding);
  color: var(--primary-color);
}

.cart-empty {
  font-size: 1.5em;
  color: #555;
  text-align: center;
  margin-top: var(--padding);
}

.checkout-button-container {
  margin-top: var(--padding);
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkout-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  margin-top: 5px;
  padding: 1em;
  border-radius: var(--border-radius);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: none;
  }
}
