@import '../../../styles/variables.scss';

.product-details-actions {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .action-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      label {
        margin-bottom: 8px;
        color: var(--primary-color);
      }

      input,
      select {
        padding: 8px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: space-between;

    .btn {
      flex: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.2s ease;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      &.btn-cart {
        background-color: $primary-color;
        color: var(--background-color);

        &:hover {
          background-color: lighten($primary-color, 5%);
        }
      }

      &.btn-delete {
        background-color: var(--secondary-color);
        color: var(--background-color);

        &:hover {
          background-color: darken($secondary-color, 5%);
        }
      }

      &.btn-edit {
        background-color: green;
        color: var(--background-color);

        &:hover {
          background-color: lighten(green, 5%);
        }
      }

      &.btn-save {
        background-color: $primary-color;
        color: var(--background-color);

        &:hover {
          background-color: lighten($primary-color, 5%);
        }
      }

      &.btn-cancel {
        background-color: var(--secondary-color);
        color: var(--background-color);

        &:hover {
          background-color: darken($secondary-color, 5%);
        }
      }
    }
  }

  .btn-cart {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: lighten($primary-color, 5%);
    }

    &.btn-cancel {
      background-color: $secondary-color;

      &:hover {
        background-color: darken($secondary-color, 5%);
      }
    }
  }
}
